<!DOCTYPE html>
<html>
  <head>
    <title>SJC</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if @user %>
      <%= react_component("Header", {user: @user, imagePath: image_path("sjc-logo.png")}) %>
    <% end %>
    <%= yield %>
  </body>
</html>
